@keyframes surf{
	0%{
		transform: translateY(1em);
		opacity: 0;
	}
	100%{
		transform: translateY(0em);
		opacity: 1;
	}
}

.surf{
	animation-name: surf;
	animation-duration: 1000ms;
	animation-fill-mode: forwards;
}

.first{
	animation-delay: 0ms;
}
.second{
	animation-delay: 200ms;
}
.third{
	animation-delay: 400ms;
}
.fourth{
	animation-delay: 600ms;
}
.fifth{
	animation-delay: 800ms;
}
.sixth{
	animation-delay: 1000ms;
}
.seventh{
	animation-delay: 1200ms;
}
.eighth{
	animation-delay: 1400ms;
}
.ninth{
	animation-delay: 1600ms;
}
