.btnBox {
	display: flex;
	justify-content: space-between;
	margin-top: 100px;
	opacity: 0;
	.btnToLogin {
		span {
			font-family: 'WorkSans';
			font-weight: 200;
			font-size: 13px;
			line-height: 15px;
			color: #000000;
			margin-right: 5px;
		}

		a {
			color: #5A61ED;
		}
	}

	.btn {
		cursor: pointer;
		font-family: 'PT Sans', sans-serif;
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 18px;
		padding: 7px 25px;
		color: #FFFFFF;
		background: #5A61ED;
		border: 0.5px solid #FFFFFF;
		transition: .3s;

		&:hover {
			background: #FFF;
			border: 0.5px solid #5A61ED;
			color: #5A61ED;
		}
	}
}