.genderDetails {
	width: 234.5px;
	opacity: 0;
	margin-bottom: 15px;
	.genderTitle {
		display: inline-block;
		font-family: 'Work Sans', sans-serif;
		font-weight: 200;
		font-size: 12px;
		line-height: 14px;
		color: #7C7C7C;
		margin-bottom: 5px;
	}

	.genderCategory {
		display: flex;

		.categoryMale {
			margin-right: 22px;
			font-family: 'WorkSans';
			font-weight: 400;
			font-size: 14px;
			line-height: 16px;
			color: #111111;

			.categoryFemale {
				font-family: 'WorkSans';
				font-weight: 400;
				font-size: 14px;
				line-height: 16px;
				color: #111111;
			}
		}

		input[type='radio'] {
			position: relative;
			height: 12px;
			width: 12px;
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none;
			outline: none;

			&::before {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 12px;
				height: 12px;
				border-radius: 50%;
				transform: translate(-50%, -50%);
				background-color: white;
				border: .7px solid #5A61ED;
			}

			&:checked::after {
				content: '';
				position: absolute;
				top: 50%;
				left: 50%;
				width: 6px;
				height: 6px;
				border-radius: 50%;
				background-color: #5A61ED;
				transform: translate(-50%, -50%);
				visibility: visible;
			}
		}
	}
}